---
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/consts";
---

<Layout title={SITE.TITLE} description={SITE.DESCRIPTION}>
    <main class="min-h-screen flex items-center flex-col gap-4 justify-center">
        <h1 class="heading text-4xl uppercase">404 エラー</h1>
        <p class="text-secondary">
            お探しのページは存在しないか、すでに削除された可能性があります。
        </p>
        <a href="/" class="cursor-pointer underline">&larr; 戻る</a>
    </main>
</Layout>
