---
import AboutMe from "@/components/About.astro";
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/consts";
---

<Layout title="自己紹介" description={SITE.DESCRIPTION}>
    <section class="pt-18">
        <AboutMe />
    </section>
</Layout>
