---
import { SITE, SOCIALS } from "@/consts";
---

<section id="Contact" class="container mx-auto my-28 p-10 space-y-12">
    <h2 class="heading text-5xl lg:text-9xl uppercase">お問い合わせ</h2>

    <div class="space-y-8">
        <p class="text-xl lg:text-3xl max-w-xl">
            アイデアや相談、感想など、お気軽にどうぞ。
        </p>

        <div class="space-y-2">
            <a
                href={`mailto:${SITE.EMAIL}`}
                class="inline-flex items-center justify-center bg-primary rounded-2xl py-3 px-6 sm:py-4 sm:px-10 cursor-pointer hover:bg-background hover:outline hover:outline-1 hover:outline-dashed hover:outline-secondary hover:text-foreground transition text-xl"
            >
                メールを送る
            </a>
            <p class="text-secondary text-lg">{SITE.EMAIL}</p>
        </div>

        <div class="text-xl space-y-2">
            {
                SOCIALS.map((link) => (
                    <p>
                        <a
                            href={link.HREF}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="underline hover:text-secondary transition"
                        >
                            {link.NAME}
                        </a>
                    </p>
                ))
            }
        </div>
    </div>
</section>
