---
import Card from "./Card.astro";
import Marquee from "./Marquee.astro";
import { getPublishedPosts } from "@/lib/collections";

const allPosts = (await getPublishedPosts()).slice(0, 3);
---

<section id="Posts" class="container mx-auto px-6 mt-18">
  <Marquee text="Posts" />
  {allPosts.map((post) => <Card entry={post} />)}
</section>
