---
import Card from "./Card.astro";
import Marquee from "./Marquee.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const allProjects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
).slice(0, 3);
---

<section id="Projects" class="container mx-auto px-6">
  <Marquee text="work" />
  {allProjects.map((project) => <Card entry={project} />)}
</section>
